- mysql과 python 연동
    1. 연동 기능이 존재하는 라이브러리(oymysql) 설치
    2. 라이브러리 로드
    3. 데이터베이스 서버와의 연결
        - 서버의 정보
            - 주소
            - prot
            - 사용자 아이디
            - 비밀번호
            - 사용할 스키마(데이터베이스)
    4. 커서(가상공간)를 생성
    5. query문을 작성하여 질의를 한다.
        - insert, updata, delete : return 존재X
        - select : return 존재O
            fetchall() : cursor에서 데이터를 가져온다(cursor에는 데이터가 삭제)
    6. DB server와 Cursor를 동기화
    7. DB server와의 연결을 종료

In [1]:
# 라이브러리 설치
#!pip install pymysql

In [1]:
# 라이브러리 로드
import pymysql

In [2]:
# DB server와의 연결 -> 연결되는 정보를 변수에 저장

_db = pymysql.connect(
    # host = "localhost"
    host = '127.0.0.1', # 서버주소
    port = 3306, # 포트 번호
    user = 'root', # 유저의 id
    password = '1234', # 비밀번호 (비밀번호가 없을 시 '')
    db = 'multicam'
    
)

In [ ]:
#cryptograhy 에러 발생 시
# !pip install cryptograhy

ERROR: Could not find a version that satisfies the requirement cryptograhy (from versions: none)
ERROR: No matching distribution found for cryptograhy

In [3]:
# _db를 이용하여 Cursor 생성
# 기본값으로 커서 생성 -> select문을 이용하여 데이터를 로드할 때 데이터의 타입이 tuple
cursor = _db.cursor()
# DictCursor 옵션을 사용해서 커서를 생성 -> select문을 이용하여 데이터를 로드할 때 데이터의 타입이 dict
cursor2 = _db.cursor(pymysql.cursors.DictCursor)

In [4]:
# query문을 작성해서 커서에게 질의 보낸다.
select_query = """
    select
    *
    from
    `emp`

"""

# select_query를 커서에서 보낸다(Cursor.execute())
cursor.execute(select_query)
cursor2.execute(select_query)

14

In [5]:
cursor.fetchall()

((7369.0, 'SMITH', 'CLERK', 7902.0, '1980-12-17', 800.0, 0.0, 20.0),
 (7499.0, 'ALLEN', 'SALESMAN', 7698.0, '1981-02-20', 1600.0, 300.0, 30.0),
 (7521.0, 'WARD', 'SALESMAN', 7698.0, '1981-02-22', 1250.0, 500.0, 30.0),
 (7566.0, 'JONES', 'MANAGER', 7839.0, '1981-04-02', 2975.0, 0.0, 20.0),
 (7654.0, 'MARTIN', 'SALESMAN', 7698.0, '1981-09-28', 1250.0, 1400.0, 30.0),
 (7698.0, 'BLAKE', 'MANAGER', 7839.0, '1981-05-01', 2850.0, 0.0, 30.0),
 (7782.0, 'CLARK', 'MANAGER', 7839.0, '1981-06-09', 2450.0, 0.0, 10.0),
 (7788.0, 'SCOTT', 'ANALYST', 7566.0, '1987-06-28', 3000.0, 0.0, 20.0),
 (7839.0, 'KING', 'PRESIDENT', 0.0, '1981-11-17', 5000.0, 0.0, 10.0),
 (7844.0, 'TURNER', 'SALESMAN', 7698.0, '1981-09-08', 1500.0, 0.0, 30.0),
 (7876.0, 'ADAMS', 'CLERK', 7788.0, '1987-07-13', 1100.0, 0.0, 20.0),
 (7900.0, 'JAMES', 'CLERK', 7698.0, '1981-12-03', 950.0, 0.0, 30.0),
 (7902.0, 'FORD', 'ANALYST', 7566.0, '1981-12-03', 3000.0, 0.0, 20.0),
 (7934.0, 'MILLER', 'CLERK', 7782.0, '1982-01-23', 1300.0, 0.0, 10.0))

In [6]:
cursor2.fetchall()

[{'EMPNO': 7369.0,
  'ENAME': 'SMITH',
  'JOB': 'CLERK',
  'MGR': 7902.0,
  'HIREDATE': '1980-12-17',
  'SAL': 800.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7499.0,
  'ENAME': 'ALLEN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-02-20',
  'SAL': 1600.0,
  'COMM': 300.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7521.0,
  'ENAME': 'WARD',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-02-22',
  'SAL': 1250.0,
  'COMM': 500.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7566.0,
  'ENAME': 'JONES',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': '1981-04-02',
  'SAL': 2975.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7654.0,
  'ENAME': 'MARTIN',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-09-28',
  'SAL': 1250.0,
  'COMM': 1400.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7698.0,
  'ENAME': 'BLAKE',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': '1981-05-01',
  'SAL': 2850.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7782.0,
  'ENAME': 'CLARK',
  'JOB': 'MANAGER',
  'MGR': 7839.0,
  'HIREDATE': '1981-06-09',
  'SAL': 2450.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'EMPNO': 7788.0,
  'ENAME': 'SCOTT',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': '1987-06-28',
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7839.0,
  'ENAME': 'KING',
  'JOB': 'PRESIDENT',
  'MGR': 0.0,
  'HIREDATE': '1981-11-17',
  'SAL': 5000.0,
  'COMM': 0.0,
  'DEPTNO': 10.0},
 {'EMPNO': 7844.0,
  'ENAME': 'TURNER',
  'JOB': 'SALESMAN',
  'MGR': 7698.0,
  'HIREDATE': '1981-09-08',
  'SAL': 1500.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7876.0,
  'ENAME': 'ADAMS',
  'JOB': 'CLERK',
  'MGR': 7788.0,
  'HIREDATE': '1987-07-13',
  'SAL': 1100.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7900.0,
  'ENAME': 'JAMES',
  'JOB': 'CLERK',
  'MGR': 7698.0,
  'HIREDATE': '1981-12-03',
  'SAL': 950.0,
  'COMM': 0.0,
  'DEPTNO': 30.0},
 {'EMPNO': 7902.0,
  'ENAME': 'FORD',
  'JOB': 'ANALYST',
  'MGR': 7566.0,
  'HIREDATE': '1981-12-03',
  'SAL': 3000.0,
  'COMM': 0.0,
  'DEPTNO': 20.0},
 {'EMPNO': 7934.0,
  'ENAME': 'MILLER',
  'JOB': 'CLERK',
  'MGR': 7782.0,
  'HIREDATE': '1982-01-23',
  'SAL': 1300.0,
  'COMM': 0.0,
  'DEPTNO': 10.0}]

In [7]:
insert_query = """
    insert into
    `user_info`
    values
    ("test2", "1234", "park", "000101")
"""

# 커서에게 insert 질의를 보낸다.
cursor2.execute(insert_query)

IntegrityError: (1062, "Duplicate entry 'test2' for key 'user_info.PRIMARY'")

In [8]:
select_query2 = """
select * from `user_info`
"""
cursor2.execute(select_query2)
cursor2.fetchall()

[{'id': 'test', 'password': '1234', 'name': 'kim', 'brith': '900101'},
 {'id': 'test2', 'password': '1234', 'name': 'park', 'brith': '000101'}]

In [9]:
# 현재까지의 작업은 커서(가상공간)에 대이터의 변화만 존재

In [10]:
# cursor와 DBserver와의 동기화
_db.commit()

In [11]:
# 데이터베이스와의 연결 종료
_db.close()

_bd = 서브웨이  
.close() = 자리를 치우고 나감

- 종료를 하지 않는다. -> 자리를 죽치고 앉아있는다. ==> 빨리 좀 먹고 나가라
- http, https -> 포장주문