# 제목1


## 제목2


### 제목3


#### 제목4

### 리스트 형태 텍스트

#### 순서형

1. list1
2. list2
3. list3

#### 비순서형
- list1
- list2
- list3

#### 리스트 안에 리스트
1. list1
    - sub1
    - sub2
2. list1
    1. 가
    2. 나
    3. 다

### 자료형 데이터
- 여러개의 데이터를 하나의 변수에 저장시키기 위한 형태

1. tuple
    - 자료형 데이터 중에 가장 기본적인 형태
    - ()를 이용해서 데이터를 생성
    - 한번 생성이 되면 수정이 불가능하다 (새로운 tuple)

2. list
    - []를 이용해서 데이터를 생성
    - tuple과는 다르게 각 원소들을 수정하거나 삭제, 추가하는 작업이 가능 (리스트의 내부 함수를 이용)
    - 원소의 개수는 0개부터 생성 가능 -> 비어있는 리스트 생성 => 여러개의 데이터를 하나의 변수에 준비하는 과정

3. dict
    - {}를 이용해서 데이터를 생성
    - key, value의 형태로 데이터가 구성 (list에서는 위치를 기준으로 데이터를 생성한다면 dict은 key를 기준으로 데이터를 추출)
    - 원소의 개수는 0개부터 생성 가능

In [1]:
# tuple
# 원소마다 타입이 달라도 생성이 가능
tuple_a = (1, 'Hello')
tuple_b = (3, 3.14)
print(tuple_a)
print(tuple_b)
print(type(tuple_a))

(1, 'Hello')
(3, 3.14)
<class 'tuple'>

In [2]:
# tuple에서 특정 위치의 데이터를 추출 (위치 == 인덱스 를 기준으로, 0부터 시작)
print(tuple_a[0])
print(tuple_b[1])

1
3.14

In [3]:
# tuple끼리의 합 -> 문자의 합과 같은 결과
print(tuple_a + tuple_b)

(1, 'Hello', 3, 3.14)

In [4]:
# tuple이랑 숫자의 합? -> 에러가 발생 -> tuple과 숫자 데이터를 합이 불가능
# tuple_b + 1

In [5]:
# list 형태의 데이터
list_a = [30, 20, 50, 10]
list_b = ['abc', 'fi', 'be']

In [6]:
# list의 함수중 정렬을 변경하는 함수를 사용
# sort() : 기본적으로는 리시트의 원소들을 오름차순 정렬로 변경
# reverse() : 리스트의 원소들을 역순으로 변경
# 위의 2개의 함수는 list를 변경 -> print()함수를 이용하지 않는 이상 출력 X
list_a.sort()

In [7]:
list_a

[10, 20, 30, 50]

In [8]:
# 내림차순
# 오름차순 -> 역순
list_b.sort()
list_b.reverse()

In [9]:
list_b

['fi', 'be', 'abc']

In [10]:
# sort() : 매개변수 resverse 존재 (기본값이 False -> 오름차순 정렬)
#           reverse의 값을 True로 바꾸면 내림차순으로 변경
list_a.sort(reverse=True)

In [11]:
list_a

[50, 30, 20, 10]

In [12]:
list_a.sort()

In [13]:
# 리스트의 원소를 추가하는 방법
# 가장 마지막에 원소를 추가하는 방법 : append('data')
# 특정 위치에 데이터를 대입 : insert(index, 'data')
list_a.append(100)
print(list_a)

[10, 20, 30, 50, 100]

In [14]:
list_a.insert(2, 5)
print(list_a)

[10, 20, 5, 30, 50, 100]

In [15]:
list_a.pop(2)
print(list_a)

[10, 20, 30, 50, 100]

In [16]:
#list에 update() 함수가 존재하지 않기 떄문에 에러 발생
# list_a.update(2, 10)

In [17]:
# list 내부의 데이터를 수정하는 방법??
# 어떠한 데이터를 수정할 것인가? -> 수정할 데이터를 선택
# list_a에 있는 2번째의 위치의 데이터를 수정할 것이다. (inde -> 1)
print(list_a[1])
# 30을 15로 변경하고 싶다. -> 30의 데이터를 제거하고 15를 대입
list_a[1] = 15
print(list_a)

20
[10, 15, 30, 50, 100]

In [18]:
list_a.pop()

100

In [19]:
list_a

[10, 15, 30, 50]

In [20]:
list_a.append(15)
list_a

[10, 15, 30, 50, 15]

In [21]:
# remove() 함수를 이용하여 list_a의 15라는 값을 제거
list_a.remove(15)
print(list_a)

[10, 30, 50, 15]

In [22]:
list_a = [50, 5, 20, 10, 15]

In [23]:
# 특정 위치의 데이터를 제거하는 del
del list_a[3]
list_a

[50, 5, 20, 15]

In [24]:
# 복사본 생성? (백업)
a = 10
b= a
print(a)
print(b)

10
10

In [25]:
a += 1
print(a)
print(b)

11
10

In [26]:
list_clone = list_a

In [27]:
print(list_a)
print(list_clone)

[50, 5, 20, 15]
[50, 5, 20, 15]

In [28]:
# list_clone를 수정
list_clone.pop()

15

In [29]:
print(list_a)
print(list_clone)

[50, 5, 20]
[50, 5, 20]

In [30]:
# list = list -> 같은 위치의 데이터를 의미
# 실제 복사본을 생서앟려면 copy() 함수를 이용
list_a.copy()
list_clone2 = list_a.copy()

In [31]:
list_clone2.append(1)

In [32]:
print(list_a)
print(list_clone)
print(list_clone2)

[50, 5, 20]
[50, 5, 20]
[50, 5, 20, 1]

In [33]:
# list에서 정렬을 변경하고 원본의 데이터는 그대로 유지
# sorted(list명)
sort_list_a = sorted(list_a)

In [34]:
print(list_a)
print(sort_list_a)

[50, 5, 20]
[5, 20, 50]

In [35]:
# list 간의 합
list_a + list_b

[50, 5, 20, 'fi', 'be', 'abc']

In [36]:
# list와 숫자의 합
# list도 단일데이터와의 합은 문제 발
#list_a + 1

In [37]:
# 데이터를 찾는 함수
# index() : 특정 데이터의 첫 번째 위치를 출력 -> 해당 데이터가 존재하지 
list_a.index(20)

2

In [38]:
# index() 함수를 이용해서 없는 데이터를 찾는 경우 -> 에러가 발생
# list_a.index(10)

In [39]:
# 2차원 데이터 : 리스트 안에 리스트, 리스트 안에 튜플, 튜플 안에 리스트 딕셔너리 안에 리스트, 리스트 안에 딕셔너리
list_c = [
    [10, 20],
    [30, 40],
    [50, 60]
]

In [40]:
# 2차원 데이터에서 특정 위치 하나를 선택하면 -> 1차원 데이터 변경
list_c[1] # list_c에서 2번째 위치의 데이터를 추출

[30, 40]

In [41]:
# list_c에서 30이라는 데이터를 추출
# list_C에서 30은 2번째 위치의 원소 안에 포함
print(list_c[1])
# 2번째 위치의 원소에서 첫 번재 위치의 데이터가 30
print(list_c[1][0])

[30, 40]
30

In [42]:
dict_a = {
    'name' : 'test',
    'age' : 20,
    'phone' : '01012345678'
    
}

In [43]:
# dict는 위치를 기준으로 하는 list와 달리 key를 기준으로 데이터를 추출
# dict_a[0] --> 0이라는 키값에 대응이 되는 calue를 출력한다.
# 0이라는 key가 존재하지 않기 때문에 에러 발생
# dict_a[0]
# dict_a[0]

In [44]:
dict_a['name']

'test'

In [45]:
dict_b = {
    'age' : 10,
    'name' : 'test2',
    'phone' : '01011112222'
}

In [46]:
dict_b['name']

'test2'

In [47]:
# 데이터를 추가하려면 -> key:vlaue를 추가
# 추가 기능과 수정 기능의 코드 차이가 거의 없다.
# 추가 -> 새로운 ket = data
# 수정 -> 기존 key = data
dict_a['loc'] = 'seoul'

In [48]:
dict_a

{'name': 'test', 'age': 20, 'phone': '01012345678', 'loc': 'seoul'}

In [49]:
# 기존의 key값을 선태갛고 데이터를 대입하면
# 기존의 value는 제거되고 새로운 value가 추가(데이터 수정)
dict_a['age'] = '30'

In [50]:
dict_a

{'name': 'test', 'age': '30', 'phone': '01012345678', 'loc': 'seoul'}

In [51]:
# dict에서 데이터를 제거 -> key와 value

In [52]:
dict_a

{'name': 'test', 'age': '30', 'phone': '01012345678', 'loc': 'seoul'}

In [53]:
# 데이터를 수집하는 경우
# open api(data api) 사용하는 경우
# 리스트 안에 딕셔너리 이거나 딕셔너리 안에 리스트인 경우가 과반
sample_data = {
    'name' : ['kim', 'park', 'lee'],
    'age' : [20, 25, 30],
    'gender' : ['F', 'M', 'F']
}

In [54]:
#sample_datadptjsms 'M'을 추출하려면?
# sample_data의 타입이? -> dict이므로

In [55]:
sample_data['gender'][1]

'M'

In [56]:
sample_data2 = [
    {
    'name' : 'kim',
    'age' : 20,
    'gender' : 'F'
    },
{
    'name' : 'park',
    'age' : 25,
    'gender' : 'M'
},
{
    'name' : 'lee',
    'age' : 30,
    'gender' : 'F'
}
]

In [57]:
# sample_data2에서  'park'이라는 데이터를 추출하려면?
# sample_data2에서 2번째 위치에 'park'데이터가 존재 -> index 1
sample_data2[1]

{'name': 'park', 'age': 25, 'gender': 'M'}

In [58]:
sample_data2[1]['name']

'park'

In [59]:
# sample_data2[1]은 데이터의 타입이 dict이고 'park' 데이터는  'name'
# 이름들을 저장할 수 있는 공간을 생성 -> 변수에 여러 개의 이름이 저장 -> 리스트나 딕셔너리 생성
name_list = []
# sample_data2에서 첫번째 원소의 'name'의 값을 추출하여 name_list에 추가
name = sample_data2[0]['name']
name_list.append(name)
print(name_list)

['kim']

In [60]:
# sample_data2에서 두 번째 원소의 'name'의 값을 추출하여 name_list에 추가
name = sample_data2[1]['name']
name_list.append(name)
print(name_list)
name = sample_data2[2]['name']
name_list.append(name)
print(name_list)

['kim', 'park']
['kim', 'park', 'lee']

In [61]:
# 반복문을 이용하여 name_list 생성
# 새로운 빈 리스트를 생성

name_list2 = []
for i in range(len(sample_data2)):
    name = sample_data2[i]['name']
    name_list2.append(name)
    print(name_list2)

['kim']
['kim', 'park']
['kim', 'park', 'lee']

In [62]:
len(sample_data2)

3

In [63]:
list_a = [10, 40, 20, 30]

for i in list_a:
    # i는 list_a으 ㅣ각 원소들의 대입
    print(i)

print('\n')

for i in range(len(list_a)):
    # i는 list_a의 위치 값
    print(list_a[i])

10
40
20
30


10
40
20
30

In [64]:
name_list3 = []
for i in sample_data2:
    # 1는 ??? -> sample_data2에 있는 원소들(dict)
    print(i)
    print(i['name'])
    name_list3.append(i['name'])
    
name_list3

{'name': 'kim', 'age': 20, 'gender': 'F'}
kim
{'name': 'park', 'age': 25, 'gender': 'M'}
park
{'name': 'lee', 'age': 30, 'gender': 'F'}
lee

['kim', 'park', 'lee']

In [65]:
# dict 형태의 데이터를 가지고 반복문을 이용한다면?
for i in sample_data:
    print(i)
    print(sample_data[i])

name
['kim', 'park', 'lee']
age
[20, 25, 30]
gender
['F', 'M', 'F']

In [66]:
# sort() -> 리스트 각각의 원소들을 비교하여 가장 작은 데이터를 처음으로 가장 큰 데이터를 마지막으로 하여 정렬을 변경하는 함수

sample_list = [30, 10, 50, 7]
sorted_list = []

for i in range (len(sample_list)):
    box = 0
    min_vlaue = sample_list[i]
    min_idx = -1
    for j in range (i+1, len(sample_list)):
       if (sample_list[j] < min_vlaue):
           min_vlaue = sample_list[j]
           min_idx = j
           box = sample_list[i]
           sample_list[i] = sample_list[min_idx]
           sample_list[min_idx] = box
    sorted_list.append(min_vlaue)
    
sorted_list

[7, 10, 30, 50]

In [67]:
sample_list = [30, 10, 50, 7]
sort_list = []

while sample_list:
    min_value = min(sample_list)
    sort_list.append(min_value)
    sample_list.remove(min_value)

sort_list

[7, 10, 30, 50]